<div class="container bg-white my-4">
  <div class="row justify-content-around">
    <h2 class="title">マイページ</h2>
    <div class="userShow_myPage_show_field">
        <p>ユーザーネーム</p>
        <td><%= @user.name %></td>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
      </div>
      <% if @user == current_user %>
      <% end %>
      <% if @user == current_user %>
        <div class="userShow_myPage_show_button">
          <td><%= link_to "編集", edit_user_path, class: "btn btn-warning" %></td>
      <% end %>
    </div>
  </div>
  </div>
  <div class="container bg-white my-4">
  <div class="row justify-content-around">
    <% @posts.each do |post| %>
    <div class="col-lg-3 col-12 mt-4">
     <%= link_to post_path(post) do %>
     <% if post.images.present? %>
          <% post.images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 250, 180 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', width: '70%', height: '70%' %>
        <% end %>
        <p class="link"><%= post.title %></p>
     <% end %>
     </div>
     <% end %>
</div>
<%= paginate @posts %>
</div>