<div class="container bg-white col-md-5 my-4">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2 class="text-center">新規投稿</h2>
        <%= form_with model: @post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :images_images, "画像" %><br>
          <%= f.attachment_field :images_images, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :company, "会社名" %><br>
          <%= f.text_field :company, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :line, "路線名" %><br>
          <%= f.text_field :line, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :series, "形式" %><br>
          <%= f.text_field :series, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :car, "編成" %><br>
          <%= f.text_field :car, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :place, "場所" %><br>
          <%= f.text_field :place, class: "form-control place" %>
        </div>
        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :date, "撮影年月日" %><br>
          <%= f.text_field :date, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :body, "本文" %><br>
          <%= f.text_area :body, class: "form-control body" %>
        </div>
        <div class="form-detail">
        <%= f.submit :"投稿する", class:"btn btn-success"  %>
      </div>
        <% end %>
      </div>
  </div>
</div>