<div class="container bg-white my-4">
  <% if @post.images.present? %>
<% @post.images.each do |image| %>
<%= attachment_image_tag image, :image, :fill, 250, 180 %>
<% end %>
<% else %>
<%= image_tag 'no_image.jpg', size: '200x200' %>
<% end %>
<p>タイトル : <%= @post.title %></p>
<p>会社名 : <%= @post.company %></p>
<p>形式 : <%= @post.series %></p>
<p>路線名 : <%= @post.line %></p>
<p>編成 : <%= @post.car %></p>
<p>場所 : <%= @post.place %></p>
<p>本文 : <%= @post.body %></p>
<p>撮影日時 : <%= @post.date %></p>
<p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>

<% if @post.user == current_user %>
<td><%= link_to "編集",edit_post_path(@post), class: "btn btn-warning" %></td>
<td><%= link_to "削除",post_path(@post), method: :delete, class: "btn btn-primary", data: { confirm: "削除してよろしいですか？" } %></td>
<% end %>

<div class="comments">
<p>コメント件数：<%= @post.comments.count %></p>
<% @post.comments.each do |comment| %>
  <%= attachment_image_tag comment.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <%= comment.body %>
  <% if comment.user == current_user %>
  <%= link_to "削除", post_comment_path(comment.post, comment), class: "btn btn-outline-dark", method: :delete %>
<% end %>
</div>
<% end %>
<div class="new-comment">
<%= form_with(model:[@post, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

<% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>